name: ci-for-build-and-tests

on:
  pull_request:
    branches: [ "main", "develop" ]
  pull_request_review:
    types: [ submitted ]

jobs:
  build-package:
    if: >
      github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository ||
      github.event_name == 'pull_request_review' && github.event.review.state == 'approved' && github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/build-and-check-python-package.yml

  test:
    name: "Run Python Tests"
    needs: build-package
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v4
      with: 
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
        enable-cache: true
        cache-dependency-glob: "uv.lock"
    - name: Install dependencies
      run: |
        uv sync --frozen --all-extras --all-groups
    - name: Run tests with Python ${{ matrix.python-version }}
      run: |
        uv run --frozen pytest --verbose -n2 --cov=modular_sdk/ --cov-report=term